{% extends 'layout.html' %}

{% block content %}
<!-- Hero Section -->
<div class="hero">
    <h1 class="title">{{ title }}</h1>
    <label for="currency">Currency:</label>
    <select id="currency" name="currency">
        <option value="USD" selected>USD</option>
        <option value="GBP">GBP</option>
        <option value="EUR">EUR</option>
    </select>
</div>

{% include 'highcharts/stockchart.html' %}

<script src="{{ url_for('home_bp.static', filename='script.js') }}"></script>
{% endblock %}
