<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{{ title }}{% endblock %}</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
</head>

<body>
    <div class="container">
        <img src="{{ url_for('static', filename='bitcoin.png') }}" alt="Bitcoin Image" class="bitcoin-image">
        <main>
            {% block content %}
            {% endblock %}
        </main>
    </div>

    <footer>
        <p>{{ notice }}</p>
    </footer>

    <div class="copyright">
        <p> This is a data engineering project built using Python's Flask framework for web applications/microservices and the data is consumed by a streaming data pipeline. <br>
            Follow projects @ <a href="https://github.com/richardogoma/bitcoin-rate-etl">ETL project</a> | <a href="https://github.com/richardogoma/bitcoin-rate-tracker">Flask project</a> 
         </p>
        <p>&copy; 2023 Richard Ogoma | <a href="https://www.linkedin.com/in/richard-ogoma/">LinkedIn</a> | <a href="https://github.com/richardogoma">GitHub</a> | <a href="https://twitter.com/richardogoma/">Twitter</a></p>
    </div>

</body>

</html>
