<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{{ title }}{% endblock %}</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <meta name="title" property="og:title" content="{{ title }}">
    <meta property="og:type" content="Article">
    <meta name="image" property="og:image" content="https://github-production-user-asset-6210df.s3.amazonaws.com/108296666/247680453-4dd22289-1314-4ac8-bf8e-4b676c3bea92.png">
    <meta name="description" property="og:description" content="Track real-time Bitcoin prices, trends, and fluctuations.">
    <meta name="author" content="Richard Ogoma">
    <meta property="og:url" content="richardogoma.pythonanywhere.com">  
    <meta name="twitter:card" content="summary_large_image">
</head>

<body>
    <div class="container">
        <img src="{{ url_for('static', filename='logo.svg') }}" alt="Application Logo" class="app-logo">
        <main>
            {% block content %}
            {% endblock %}
        </main>
    </div>

    <div class="copyright">
        <p>&copy; 2023 Richard Ogoma | <a href="https://www.linkedin.com/in/richard-ogoma/">LinkedIn</a> | <a
                href="https://github.com/richardogoma">GitHub</a> | <a
                href="https://twitter.com/richardogoma/">Twitter</a></p>
    </div>

</body>

</html>
