/* Reset default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styles */
body {
  font-family: 'Poppins', sans-serif;
  background-color: #f5f5f5; 
  color: #333;
  line-height: 1.5;
  padding: 5px; 
}

/* Hero section styles */
.hero {
  text-align: center;
  margin-bottom: 20px;
  padding: 20px;
  margin-top: -10px; 
}

.hero h1 {
  font-size: 36px;
  color: #333;
  margin-bottom: 10px;
}

/* Container styles */
.container {
  margin-bottom: 20px;
  max-width: 800px; 
  margin-left: auto;
  margin-right: auto;
}

/* Title styles */
.title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 10px;
  text-indent: 20px;
}

/* Application logo styles */
.app-logo {
  display: block;
  margin: 0 auto;
  max-width: 200px; 
  margin-top: -30px; 
}

.section-header {
  margin-bottom: 10px;
}

.section-header h2 {
  font-size: 20px;
  font-weight: bold;
  color: #333;
  margin-bottom: 5px;
}

.data-notice {
  margin-bottom: 20px;
  text-align: justify;
}

.project-description {
  margin-bottom: 20px;
  text-align: justify;
}

.highcharts-description {
  margin-bottom: 20px;
  text-align: justify;
  font-size: 14px;
}

/* Footer styles */
/* footer {
  text-align: center;
  font-size: 14px;
  color: #333;
  margin-top: 20px;
  width: 100%; 
  background-color: #f5f5f5; 
  padding: 10px; 
  font-weight: bold;
} */

/* Copyright styles */
.copyright {
  text-align: center;
  font-size: 12px; 
  color: #333; 
  padding: 5px; 
}

/* Copyright links */
p a {
  color: #333; 
  text-decoration: none;
}

p a:hover {
  text-decoration: underline;
}

.highcharts-figure,
.highcharts-data-table table {
  min-width: 320px;
  max-width: 800px;
  margin: 1em auto;
}

#container {
  height: 500px;
}

.highcharts-data-table table {
  font-family: Verdana, sans-serif;
  border-collapse: collapse;
  border: 1px solid #ebebeb;
  margin: 10px auto;
  text-align: center;
  width: 100%;
  max-width: 500px;
}

.highcharts-data-table caption {
  padding: 1em 0;
  font-size: 1.2em;
  color: #555;
}

.highcharts-data-table th {
  font-weight: 600;
  padding: 0.5em;
}

.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
  padding: 0.5em;
}

.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
  background: #f8f8f8;
}

.highcharts-data-table tr:hover {
  background: #f1f7ff;
}

#csv {
  display: none;
}