<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/stock/modules/stock.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/data.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>

<figure class="highcharts-figure">
    <div id="container-stock"></div>
    <p class="highcharts-description">
        Financial stock chart shows the historical prices of Bitcoin over time. It provides a clear 
        visual representation of how the price of Bitcoin has changed over time, allowing you to easily 
        identify trends and patterns.
    </p>
</figure>

<script>
    var currencyVariable = "{{ currency_variable }}";
    var dataRoute = "{{ url_for('api_bp.querydata') }}";
</script>