<script src="https://code.highcharts.com/modules/sankey.js"></script>
<script src="https://code.highcharts.com/modules/dependency-wheel.js"></script>

<figure class="highcharts-figure">
    <div id="container-wheel"></div>
    <p class="highcharts-description">
        The Dependency Wheel chart provides a clear visual representation of the microservice's architecture 
        and how the different components work together to provide the real-time price tracking functionality.
    </p>
</figure>
